<h1>Welcome To appointments</h1>
<p>please sign up!</p>

<form #userSignup="ngForm" ngNativeValidate (ngSubmit)="submit(userSignup.value)">
    username:
    <input ngModel name="username" required />
    firstname:
    <input ngModel name="firstname" required />
    middlename:
    <input ngModel name="middlename"/>
<hr/>

    <div>
        lastname:
        <input ngModel name="lastname"/>
        email:
        <input ngModel name="email" required />
        password:
        <input ngModel type="password" name="password" required />

        <input type="submit" value="submit" />
    </div>
</form>