<p>please sign up!</p>

<form #userSignup="ngForm" ngNativeValidate (ngSubmit)="submit(userSignup.value)">
    username:
    <input ngModel minlength="8" name="username" required />
    firstname:
    <input ngModel type="text" name="firstname" required />
    middlename:
    <input ngModel type="text" name="middlename" />
    lastname:
    <input ngModel type="text" name="lastname" />
    <hr />

    <div>

        email:
        <input ngModel type="email" name="email" required />
        password:
        <input ngModel type="password" minlength="8" name="password" required />

        <input type="submit" value="submit" />
    </div>
</form>